---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Quote from "../components/Quote.astro";
import CtaBanner from "../components/CtaBanner.astro";
---

<Layout title="Fabián Moreno - Product Designer - D'aria Propiedades">
  <!--Componente Nav -->
  <Navbar />

  <section class="flex flex-col  justify-center md:max-w-7xl mx-auto pt-36 px-4 py-8 md:px-16">
    <h1 class="text-largeMobile text-color-title lg:text-largeDesktop">D'aria Propiedades</h1>

    <ul
      class="grid grid-cols-2 pr-8 [&>li]:items-start pt-10 gap-x-0 gap-y-4 sm:gap-14 md:[&>li]:flex sm:flex sm:flex-wrap sm:[&>li]:flex-col "
    >
      <li class=" col-start-1 col-span-1">
        <p class=" text-overlineSm  md:text-overline  text-color-caption uppercase">Cliente</p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">D'aria Propiedades</p>
      </li>

      <li class=" col-start-2 col-span-1">
        <p class="text-overlineSm  md:text-overline  text-color-caption uppercase">Rol</p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">Lead product designer</p>
      </li>

      <li class=" col-start-1 col-span-1">
        <p class="text-overlineSm  md:text-overline  text-color-caption uppercase">Plazo</p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">4 meses</p>
      </li>

      <li class=" col-start-2 col-span-1">
        <p class="text-overlineSm  md:text-overline  text-color-caption uppercase">Link</p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">View Website</p>
      </li>
    </ul>
  </section>


  <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719618/daria-preview.webp" class="aspect-[10/6] object-cover md:aspect-auto"  alt="Computadora portail mostrando una tabla de productos de trocando"  />
    
  <main class="flex flex-col justify-center  max-w-4xl mx-auto px-4 pt-12 md:px-16">
    <h4 class="text-subtitle1 text-color-title font-normal">
      A mediados del año 2018, D'Aria Propiedades nos contacto para el rediseño
      completo de su plataforma web. El propósito central de esta iniciativa fue
      la creación de una plataforma que pusiera un énfasis especial en la
      experiencia móvil, con el claro objetivo de crear una experiencia más
      cercana, amigable y funcional para sus usuarios.
    </h4>

    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2"> 
        <h2 class="text-title2 text-color-title">Requerimientos y primer contacto</h2>
        <h3 class="text-overlineSm text-color-caption uppercase">Entendiendo el negocio</h3>
      </div>
        <p class="text-body text-color-body">
          Al ser nuestro primer acercamiento al mercado inmobiliario de Buenos
          Aires, tuvimos que afrontar una importante curva de aprendizaje respecto
          a las dinámicas y estructuras propias de este sector. Nos familiarizamos
          con el broker de datos y el CRM de la industria, y nos sumergimos en la
          documentación pertinente para adquirir una comprensión más profunda de
          la factibilidad técnica que debería contemplar nuestra propuesta. Además
          de esto, el dueño del producto compartió información esencial para el
          negocio, lo que nos permitió avanzar en la recolección de datos,
          realizar análisis preliminares y recopilar información necesaria para
          llevar a cabo las primeras entrevistas y encuestas.
        </p>
    </section>

    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2"> 
        <h2 class="text-title2 text-color-title">La plataforma y sus usuarios</h2>
        <h3 class="text-overlineSm text-color-caption uppercase">Empatizando con nuestros usuarios</h3>
      </div>
        <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719618/daria-01.webp" alt="Preview de los  diagramas de flujo de Trocando" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
        <p class="text-body text-color-body">
          Empezamos realizando una evaluación heurística de la plataforma y
          listamos los principales problemas que fuimos encontrando. Los puntos
          más críticos los detectamos en la versión móvil; donde algunos elementos
          visuales se superponían y hacían inaccesible el contenido para algunos
          usuarios. Luego, también detectamos un amplio margen de mejora en la
          arquitectura de la información, tono, navegación, jerarquía visual,
          cantidad de elementos y acciones por cada vista. A esto le sumamos
          información analítica del sitio, los aprendizajes del equipo de
          marketing sobre los usuarios, data del mercado y primeros datos de
          encuestas y entrevistas.
        </p>
    </section>

    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2"> 
        <h2 class="text-title2 text-color-title">Ideando propuestas</h2>
        <h3 class="text-overlineSm text-color-caption uppercase">Diseñar e iterar</h3>
      </div>
        <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719618/daria-02.webp" alt="Preview de los  diagramas de flujo de Trocando" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
        <p class="text-body text-color-body">
          Durante diversas reuniones y talleres, compartimos nuestros principales
          aprendizajes, identificamos las funcionalidades clave y comenzamos a
          desarrollar los primeros wireframes de la plataforma. En un proceso de
          colaboración constante, construimos y perfeccionamos los contenidos y
          wireframes hasta alcanzar la aprobación de todo el equipo. De esta
          forma, avanzamos para añadir más detalle y definir el estilo visual que
          se alineaba con nuestras personas usuarias.
        </p>
    </section>
  </main>

  <!-- Sección completa para Quote -->
  <Quote
  quote=" &quot;Usability rules the web. Simply stated, if the customer can't find a product, then he or she will not buy it&quot; ", 
  author="Jakob Nielsen",
  >
  </Quote>
  <!-- termina Quote -->





  <main class="flex justify-center flex-col max-w-4xl mx-auto pb-16 px-4 md:px-16 gap-6">
   
    <div class="flex flex-col gap-2"> 
      <h2 class="text-title2 text-color-title">Puliendo los detalles</h2>
      <h3 class="text-overlineSm text-color-caption uppercase">Prototipar e iterar</h3>
    </div>
      <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719618/daria-03.webp" alt="" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
    <p class="text-body text-color-body">
      Fuimos agregando más detalle a las vistas y componentes principales para
      lograr un diseño amigable, accesible y limpio que además transmitiera y
      diferenciara a la marca de D’aria propiedades. Entendiendo que más del
      70% del tráfico del sitio era mobile, priorizamos este dispositivo para
      las pruebas y aprobaciones finales de diseño y experiencia de usuario.
    </p>

    <div
      class="flex flex-col gap-4"
    >
      <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719618/daria-04.webp" alt="" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
    </div>
    <div
      class="flex flex-col gap-4"
    >
      <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719618/daria-05.webp" alt="" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
    </div>
    <p class="text-body text-color-body">
      Conforme fuimos avanzando sobre pruebas de calidad media, se hacía
      evidente la necesidad de afinar una propuesta de rediseño de marca. Por
      esto, organizamos un Brand Sprint para poner en común el imaginario y la
      definición de Quiena como marca. Esto nos ayudo a poner en común y
      decidir una primera versión del Brand Guidelines de Quiena.
    </p>
</main>

    <!-- Full width image -->
    <div>
      <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719618/daria-results.webp" alt="Varias de las pantallas de Daria propiedes con la nueva experiencia" class="aspect-[10/6] object-cover md:aspect-auto" />
    </div>
    <!-- Ends full width image -->


    <section class="flex flex-col  max-w-4xl mx-auto py-16 px-4 md:px-16 gap-6">
      <div>
      <h2 class="text-title2 text-color-title">Resultados</h2>
      </div>
        <div class="flex flex-col md:flex-row gap-6 "> 
        <video
          src="https://res.cloudinary.com/dfh5otihs/video/upload/v1694743274/daria-results-video_l3hz7f.mp4"
          autoplay
          loop
          class="flex  w-full md:max-w-[50%] rounded-lg">
        </video>
        <p class="text-body text-color-body">
          Logramos corregir todos los problemas de arquitectura de información,
          usabilidad, y accesibilidad que habíamos encontrado. Además logramos un
          diseño más amigable y cercano con el perfil de personas que estabamos
          esperando. Los datos más relevantes que obtuvimos durante el siguiente
          trimestre fue un aumento de ~30% en las interacciones y contactos en
          mobile con la misma inversión publicitaria.Además del aumento de las
          interacciones y contactos, también nos reportaron un aumento en la
          duración de las sesiones de un ~40%.
        </p>
      </div>
    </section>



    <!-- Full Banner CTA  -->
    <CtaBanner
    content="Si te interesa saber más sobre este y otros proyectos puedes contactarme."
    >
    </CtaBanner>
    <!-- ends Banner -->

  <Footer />
</Layout>
