---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Fabián Moreno - Product Designer - D'aria Propiedades">
  <!--Componente Nav -->
  <Navbar />

  <section class="flex justify-center flex-col max-w-4xl mx-auto pt-36">
    <h1>D'aria Propiedades</h1>

    <ul
      class="flex items-center gap-8 [&>li]:flex [&>li]:flex-col [&>li]:items-start"
    >
      <li>
        <h4>Cliente</h4>
        <p>Privado</p>
      </li>

      <li>
        <h4>Rol</h4>
        <p>Lead Product designer</p>
      </li>

      <li>
        <h4>Plazo</h4>
        <p>6 meses</p>
      </li>

      <li>
        <h4>Link</h4>
        <p>view Website</p>
      </li>
    </ul>
  </section>

  <div>
    <img src="../../src/img/previewDaria_1x.webp" alt="" class="" />
  </div>

  <main class="flex justify-center flex-col max-w-4xl mx-auto">
    <h4>
      A comienzos del año 2018, D'Aria Propiedades nos contacto para el rediseño
      completo de su plataforma web. El propósito central de esta iniciativa fue
      la creación de una plataforma que pusiera un énfasis especial en la
      experiencia móvil, con el claro objetivo de crear una experiencia más
      cercana, amigable y funcional para sus usuarios.
    </h4>

    <section>
      <h2>Requerimientos y primer contacto</h2>
      <h4>Entendiendo el negocio</h4>
      <p>
        Al ser nuestro primer acercamiento al mercado inmobiliario de Buenos
        Aires, tuvimos que afrontar una importante curva de aprendizaje respecto
        a las dinámicas y estructuras propias de este sector. Nos familiarizamos
        con el broker de datos y el CRM de la industria, y nos sumergimos en la
        documentación pertinente para adquirir una comprensión más profunda de
        la factibilidad técnica que debería contemplar nuestra propuesta. Además
        de esto, el dueño del producto compartió información esencial para el
        negocio, lo que nos permitió avanzar en la recolección de datos,
        realizar análisis preliminares y recopilar información necesaria para
        llevar a cabo las primeras entrevistas y encuestas.
      </p>
    </section>

    <section>
      <h2>La plataforma y sus usuarios</h2>
      <h4>Empatizando con nuestros usuarios</h4>

      <img src="../../src/img/daria01_1x.webp" alt="" class="rounded-lg" />
      <p>
        Empezamos realizando una evaluación heurística de la plataforma y
        listamos los principales problemas que fuimos encontrando. Los puntos
        más críticos los detectamos en la versión móvil; donde algunos elementos
        visuales se superponían y hacían inaccesible el contenido para algunos
        usuarios. Luego, también detectamos un amplio margen de mejora en la
        arquitectura de la información, tono, navegación, jerarquía visual,
        cantidad de elementos y acciones por cada vista. A esto le sumamos
        información analítica del sitio, los aprendizajes del equipo de
        marketing sobre los usuarios, data del mercado y primeros datos de
        encuestas y entrevistas.
      </p>
    </section>

    <section>
      <h2>Ideando propuestas</h2>
      <h4>Diseñar e iterar</h4>

      <img src="../../src/img/daria02_1x.webp" alt="" class="rounded-lg" />
      <p>
        Durante diversas reuniones y talleres, compartimos nuestros principales
        aprendizajes, identificamos las funcionalidades clave y comenzamos a
        desarrollar los primeros wireframes de la plataforma. En un proceso de
        colaboración constante, construimos y perfeccionamos los contenidos y
        wireframes hasta alcanzar la aprobación de todo el equipo. De esta
        forma, avanzamos para añadir más detalle y definir el estilo visual que
        se alineaba con nuestras personas usuarias.
      </p>
    </section>
  </main>

  <!-- Sección completa para Quote -->
  <blockquote
    class="flex flex-col max-w-full bg-gradient-to-r from-sky-500 to-indigo-500"
  >
    <h3 class="max-w-4xl items-center mx-auto">
      ”Usability rules the web. Simply stated, if the customer can't find a
      product, then he or she will not buy it”
    </h3>
    <p class="max-w-4xl items-center mx-auto">Jakob Nielsen</p>
  </blockquote>
  <!-- termina Quote -->

  <main class="flex justify-center flex-col max-w-4xl mx-auto">
    <section>
      <h2>Puliendo los detalles</h2>
      <h4>Prototipar e iterar</h4>

      <div class="flex flex-col [&>img]:aspect-auto [&>img]:object-cover gap-4">
        <img src="../../src/img/daria03_1x.webp" alt="" class="rounded-lg" />
      </div>
      <p>
        Fuimos agregando más detalle a las vistas y componentes principales para
        lograr un diseño amigable, accesible y limpio que además transmitiera y
        diferenciara a la marca de D’aria propiedades. Entendiendo que más del
        70% del tráfico del sitio era mobile, priorizamos este dispositivo para
        las pruebas y aprobaciones finales de diseño y experiencia de usuario.
      </p>

      <div class="flex flex-col [&>img]:aspect-auto [&>img]:object-cover gap-4">
        <img src="../../src/img/daria04_1x.webp" alt="" class="rounded-lg" />
        <img src="../../src/img/daria05_1x.webp" alt="" class="rounded-lg" />
      </div>
      <p>
        Posteriormente, gracias a nuestra estrategia de diseño atómico,
        procedimos a adaptar y ajustar meticulosamente nuestros componentes y
        diseños para adecuarnos a las pantallas de dispositivos más grandes.
        Este enfoque nos permitió optimizar la experiencia del usuario en
        tablets y ordenadores de escritorio, asegurando una navegación fluida y
        una presentación visual atractiva en estos dispositivos de mayor tamaño.
        A través de esta fase de refinamiento, logramos garantizar una cohesión
        visual y funcional en todos los tamaños de pantalla, brindando así una
        experiencia uniforme y satisfactoria a nuestros usuarios,
        independientemente del dispositivo que utilicen.
      </p>
    </section>
  </main>

  <!-- Full width image -->
  <div>
    <img src="../../src/img/daria-results_1x.webp" alt="" class="" />
  </div>
  <!-- Ends full width image -->

  <section class="flex justify-center flex-col max-w-4xl mx-auto">
    <h2>Resultados</h2>
    <video
      src="../../src/img/daria-results-video.mp4"
      autoplay
      loop
      class="rounded-lg"></video>
    <p>
      Logramos corregir todos los problemas de arquitectura de información,
      usabilidad, y accesibilidad que habíamos encontrado. Además logramos un
      diseño más amigable y cercano con el perfil de personas que estabamos
      esperando. Los datos más relevantes que obtuvimos durante el siguiente
      trimestre fue un aumento de ˜30% en las interacciones y contactos en
      mobile con la misma inversión publicitaria.Además del aumento de las
      interacciones y contactos, también nos reportaron un aumento en la
      duración de las sesiones de un ˜40%. Lo que nos indica que los usuarios
      empezaron a tomarse más tiempo recorriendo la información disponible en el
      sitio y en cada una de las fichas de las propiedades.
    </p>
  </section>

  <!-- Full widht CTA  -->
  <div class="max-w-full bg-gradient-to-r from-[#29233B] to-[#342856]">
    <div class="flex flex-row max-w-4xl items-center mx-auto">
      <h3 class="">
        Si te interesa saber más sobre este y otros proyectos puedes
        contactarme.
      </h3>
      <button>Contáctame</button>
    </div>
  </div>
  <!-- ends Quote -->

  <Footer />
</Layout>
