---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import CardHome from "../components/CardHome.astro";
import CtaBanner from "../components/CtaBanner.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import ButtonSecondary from "../components/ButtonSecondary.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---


<Layout title="Fabián Moreno | Product Designer">
  <!--Componente Nav -->
  <Navbar />
  
  <meta http-equiv="refresh" content="0;url=/en/" />
  <main class="flex justify-center flex-col max-w-7xl mx-auto antialiased">
    <div class="flex flex-col px-4 pt-32 gap-y-8 pb-10 md:pt-40 md:py-12 md:px-16">
      <section class="flex flex-col justify-center gap-6">
        <p class="text-largeMobile text-color-title lg:text-largeDesktop hyphens-manual">
          Hi 👋🏼 I'm Fabián,<br /> Sr Product Designer 
        </p>
        <h1 class="text-subtitle1 text-color-subtitle hyphens-manual">
          More than 8 years designing digital tools to create a positive impact on individuals, businesses, and teams. 
        </h1>
      </section>
      <section class="flex flex-row gap-x-4">

        <ButtonPrimary
          href="/#projects"
          target="_self"
          >
          Check projects
        </ButtonPrimary>

        <ButtonSecondary
        href="/more-info#contact"
        target="_self"
        >
          Get in touch
          <i class='bx bx-right-arrow-alt bx-sm color-button-iconSecondary' slot="after"></i>
        </ButtonSecondary>
          
      </section>
    </div>


      <div class="flex flex-col items-center px-4 pt-10 md:px-16 gap-y-3">
        <h2 id="projects" class="text-title2 text-color-title">Feature projects</h2>
        <p class=" text-center text-overline text-color-caption uppercase">
          From real estate projects to Fintech
        </p>
      </div>
  

    <article class="grid grid-cols-1 md:grid-cols-2 gap-8 content-start py-8 px-4 md:px-16">
        <CardHome 
        title= "Pharmaceutical Marketplace",
        body="Designing MVP for a pharmaceutical product buying and selling platform in Argentina" ,
        href={`/${lang}/pharmaceutical-marketplace`},
        image="https://res.cloudinary.com/dfh5otihs/image/upload/v1695914352/trocando-preview.webp" ,
        alt="Laptop displaying a Trocando product list" ,
        tag1="Ux Lead" ,
        tag2="2023",
        >
      </CardHome>
      
      <CardHome 
        title= "Automated investments",
        body="Design of a native app for the automatic investment product on Wall Street" ,
        href={`/${lang}/automated-investments`},
        image="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719619/investment-auto-preview.webp" ,
        alt="A hand holds a cell phone with the Quiena investments app." ,
        tag1="Ux Lead" ,
        tag2="2020",
        >
      </CardHome>

      <CardHome 
        title= "Digital real estate",
        body="Design of a native app for buying and selling properties in Buenos Aires and Argentina" , 
        href={`/${lang}/digital-real-estate/`},
        image="https://res.cloudinary.com/dfh5otihs/image/upload/v1695914320/real-estate-preview.webp" ,
        alt="Two cell phones that show a part of the property buying and selling application" ,
        tag1="Ux Lead" ,
        tag2="2019",
        >
      </CardHome>

      <CardHome 
        title= "D'aria propiedades",
        body="Redesign of the D'aria Properties website for renting, buying, and selling properties" ,
        href={`/${lang}/daria-real-estate/`},
        image="https://res.cloudinary.com/dfh5otihs/image/upload/v1695914331/daria-preview.webp" ,
        alt="Preview of a laptop and a phone with the home of the D'aria platform" ,
        tag1="Ux Lead" ,
        tag2="2018",
        >
      </CardHome>
    </article>
  </main>
  <CtaBanner
    content="Are you creating a project, in need of guidance, or just want to say hello?"
  >
  </CtaBanner>
</Layout>

<Footer />
