---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import CardHome from "../components/CardHome.astro";
import CtaBanner from "../components/CtaBanner.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import ButtonSecondary from "../components/ButtonSecondary.astro";
---

<Layout title="Fabián Moreno - Product Designer">
  <!--Componente Nav -->
  <Navbar />
  
  <main class="flex justify-center flex-col max-w-7xl mx-auto antialiased">
    <div class="flex flex-col py-6 md:py-12 gap-y-8 px-4 md:px-16">
      <section class="flex pt-32 flex-col justify-center gap-6">
        <p class="text-largeMobile text-color-title lg:text-largeDesktop">
          Hola 👋🏼 soy Fabián Sr Product Designer
        </p>
        <h1 class="text-subtitle1 text-color-subtitle">
          Sr UX Designer con más de 10 años de experiencia desarrollando
          productos que generen un impacto positivo en las personas.
        </h1>
      </section>
      <section class="flex flex-row gap-x-4">

        <ButtonPrimary
          href="/#projects"
          >
          Ver proyectos
        </ButtonPrimary>

        <ButtonSecondary
        href="/more-info#contact"
        >
          Contáctame
          <i class='bx bx-right-arrow-alt bx-sm color-button-iconSecondary' slot="after"></i>
        </ButtonSecondary>
          
      </section>
    </div>


      <div class="flex flex-col items-center px-4 md:px-16 gap-y-3">
        <h2 id="projects" class="text-title2 text-color-title">Proyectos destacados</h2>
        <p class=" text-center text-overline text-color-caption uppercase">
          De proyectos inmobilidarios a Fintech
        </p>
      </div>
  

    <article class="grid grid-cols-1 md:grid-cols-2 gap-8 content-start py-12 px-4 md:px-16">
        <CardHome 
        title= "Marketplace farmacéutico",
        body="Diseño MVP para plataforma de compra y venta de productos farmacéuticos en Argentina" ,
        href="/trocando/",
        image="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719618/trocando-preview.webp" ,
        alt="Computadora portail mostrando una tabla de productos de trocando" ,
        tag1="Ux Lead" ,
        tag2="2023",
        >
      </CardHome>
      
      <CardHome 
        title= "Inversiones automatizadas",
        body="Diseño de App nativa para el producto de inversión automático en activos de WallStreet" ,
        href="/quiena-automatica/",
        image="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719619/investment-auto-preview.webp" ,
        alt="Una mano sostiene un celular con la app de Quiena inversiones" ,
        tag1="Ux Lead" ,
        tag2="2020",
        >
      </CardHome>

      <CardHome 
        title= "Inmobiliaria digital",
        body="Diseño de app nativa para la compra y venta de propiedades en Buenos Aires y Argentina" ,
        href="/inmobiliaria-digital/",
        image="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719618/real-state-preview.webp" ,
        alt="Dos celulares que muestran un partes de la aplicación de compra venta de propiedades" ,
        tag1="Ux Lead" ,
        tag2="2019",
        >
      </CardHome>

      <CardHome 
        title= "D'aria propiedades",
        body="Rediseño del sitio de  D’aria propiedades para alquilar, comprar y vender propiedades" ,
        href="/daria/",
        image="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719618/daria-preview.webp" ,
        alt="Vista previa de una computadora portatil y un telefeno con el home de la plataforma de Daria" ,
        tag1="Ux Lead" ,
        tag2="2018",
        >
      </CardHome>
    </article>
  </main>
  <CtaBanner
    content="¿Estas creando un proyecto, necesitas asesoría o simplemente quieres enviar un saludo?"
  >
  </CtaBanner>
</Layout>

<Footer />
