---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Quote from "../components/Quote.astro";
import CtaBanner from "../components/CtaBanner.astro";
---

<Layout title="Fabián Moreno - Product Designer - Inmobiliaria digital">
  <!--Componente Nav -->
  <Navbar />

  <section class="flex flex-col  justify-center md:max-w-7xl mx-auto pt-32 pb-8 px-4 md:px-16">
    <h1 class="text-largeMobile text-color-title lg:text-largeDesktop">Inmobiliaria Digital</h1>

    <ul
      class="grid grid-cols-2 pr-8 [&>li]:items-start pt-10 gap-x-0 gap-y-4 sm:gap-14 md:[&>li]:flex sm:flex sm:flex-wrap sm:[&>li]:flex-col "
    >
      <li class=" col-start-1 col-span-1">
        <p class=" text-overlineSm  md:text-overline  text-color-caption uppercase">Cliente</p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">Privado</p>
      </li>

      <li class=" col-start-2 col-span-1">
        <p class="text-overlineSm  md:text-overline  text-color-caption uppercase">Rol</p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">Lead product designer</p>
      </li>

      <li class=" col-start-1 col-span-1">
        <p class="text-overlineSm  md:text-overline  text-color-caption uppercase">Plazo</p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">6 meses</p>
      </li>
    </ul>
  </section>

  <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719618/real-state-preview.webp" class="aspect-[10/6] object-cover md:aspect-auto"  alt="Computadora portail mostrando una tabla de productos de trocando"  />


  <main class="flex flex-col justify-center  max-w-4xl mx-auto px-4 pt-12 md:px-16">
    <h4 class="text-subtitle1 text-color-title font-normal">
      El 2019 empezó con un gran desafío, me contactaron para investigar y
      colaborar en una plataforma para comprar y vender propiedades. Un proyecto
      desde cero con el reto de llevar el proceso de investigación, ideación,
      definición y diseño.
    </h4>

    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2"> 
        <h2 class="text-title2 text-color-title">Discovery</h2>
        <h3 class="text-overlineSm text-color-caption uppercase">Entendiendo el negocio</h3>
      </div>
        <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719615/real-state-01.webp" alt="Preview de los  diagramas de flujo de Trocando" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
        <p class="text-body text-color-body">
          Empezamos por entender, investigar y definir en equipo la primera
          versión MVP del producto. Al partir de una industria con un mercado muy
          desarrollado, uno de los primeros procesos que realizamos fue un
          Costumer Journey mapping del proceso convencional para detectar los
          principales puntos de fricción. Así, fuimos descubriendo y definiendo
          juntos las hipótesis de trabajo y propuesta de valor del producto a
          través de herramientas como benchmarks, entrevistas, encuestas etc.
        </p>
    </section>


    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2">
        <h2 class="text-title2 text-color-title">Empatizar y definir</h2>
        <h3 class="text-overlineSm text-color-caption uppercase">Poniendo expectativas en común</h3>
      </div>

      <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719615/real-state-02.webp" alt="Propuesta de identidad de marca para Trocando" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
      <p class="text-body text-color-body">
        Agrupamos todas las funcionalidades en diferentes categorías, luego
        puntuamos cada una en aspectos como costo de desarrollo, impacto en los
        usuarios, diferencial en el mercado, rentabilidad y costo de
        mantenimiento. De esta manera hicimos mensurables las funcionalidades
        para poder votar y priorizar. Finalmente decidimos cuales serían
        nuestras funcionalidades base, o ”Must Have” (MH), que en otras
        palabras, son las prioridades para negocio, tecnología, experiencia y
        producto. Con esta lista de prioridades, fuimos iterando sobre
        diferentes propuestas de Arquitectura del producto. Mientras tanto, en
        paralelo fuimos validando nuestras hipótesis a través de encuestas y
        entrevistas a las user personas que habíamos detectado en anteriores
        workshops.
      </p>
      <div
      class="flex flex-col gap-4"
    >
      <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719615/real-state-03.webp" alt="" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
    </div>
    <p class="text-body text-color-body">
      Con todo lo aprendido de nuestros usuarios fuimos ajustando la
      arquitectura de producto y avanzando sobre el flujo y navegación de los
      usuarios. Recopilamos data cualitativa a través de las entrevistas,
      detectando patrones, casos de uso y fricciones comunes. Esta información
      fue clave para confeccionar encuestas más asertivas para cuantificar,
      medir y validar nuestros aprendizajes.
    </p>
    </section>
  </main>

  <!-- Sección completa para Quote -->
  <Quote
  quote=" &quot;Design is not just what it looks like,  design is how it works&quot; ", 
  author="Steve Jobs",
  >
  </Quote>
  <!-- termina Quote -->

  <main class="flex flex-col justify-center  max-w-4xl mx-auto pb-16 px-4 md:px-16">
    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2"> 
        <h2 class="text-title2 text-color-title">Explorando posibles soluciones</h2>
        <h3 class="text-overlineSm text-color-caption uppercase">Convirtiendo los aprendizajes en propuestas</h3>
      </div>
        <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719615/real-state-05.webp" alt="Preview de los  diagramas de flujo de Trocando" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
        <p class="text-body text-color-body">
          Diseñamos los flujos de los usuarios y las primeras pantallas en baja
          para empezar plantear propuestas de interfaz y navegación. Muchas de
          estos prototipos iniciales los compartimos con algunos usuarios en
          entrevistas y nos ayudaron a seguir iterando sobre el contenido,
          lenguaje y la navegación de los mismos.
        </p>
    </section>


    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2">
        <h2 class="text-title2 text-color-title">Iterando y ajustando detalles</h2>
        <h3 class="text-overlineSm text-color-caption uppercase">De lo general a lo especifico</h3>
      </div>

      <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719615/real-state-06.webp" alt="Propuesta de identidad de marca para Trocando" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
      <p class="text-body text-color-body">
        Diseñamos un estilo visual simple y funcional, trabajamos para crear una
        interfaz conversacional y fuimos afinando cada detalle. Determinamos los
        datos básicos de creación de usuarios, de publicación y planteamos una
        primera propuesta de monetización freemium, donde los usuarios pagarían
        por mejores opciones de publicación, asesoría o simplemente la
        plataforma se encargaría de todo el proceso de compra o venta.
      </p>
    </section>

    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2">
        <h2 class="text-title2 text-color-title">Design system y Handoff</h2>
        <h3 class="text-overlineSm text-color-caption uppercase">Nuestro source of truth</h3>
      </div>

      <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719615/real-state-07.webp" alt="Propuesta de identidad de marca para Trocando" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
      <p class="text-body text-color-body">
        Finalmente diseñamos cada uno de los componentes y estados para nuestro
        design system, documentando todos los flujos y wireframes de alta
        calidad para el equipo de desarrollo.
      </p>
    </section>
  </main>



    <!-- Full width image -->
    <div>
      <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719615/real-state-results.webp" alt="" class="aspect-[10/6] object-cover md:aspect-auto" />
    </div>
    <!-- Ends full width image -->

  <section class="flex justify-center flex-col max-w-4xl mx-auto py-16 px-4 md:px-16 gap-6">
      
    <div> 
      <h2 class="text-title2 text-color-title">Resultados</h2>
    </div>
    
    <p class="text-body text-color-body">
      Desde el principio, nuestro objetivo principal fue comprender a fondo las
      necesidades y deseos de nuestros usuarios, y para lograrlo, nos sumergimos
      en un proceso de investigación de usuario minucioso, recopilando datos y
      retroalimentación valiosa. A medida que avanzábamos, utilizamos esta
      información para crear flujos de usuario que garantizaran una experiencia
      intuitiva y atractiva. Para mantener la coherencia y la eficiencia en todo
      el proceso de diseño, creamos un robusto sistema de diseño que sirvió como
      base para todas las decisiones de diseño posteriores. Este design system
      no solo garantizó una consistencia visual en todos los elementos de la
      aplicación, sino que también facilitó la colaboración con el equipo de
      desarrollo, agilizando el proceso de implementación y puesta en el
      mercado.
    </p>
  </section>

  <!-- Full Banner CTA  -->
  <CtaBanner
  content="Si te interesa saber más sobre este y otros proyectos puedes contactarme."
  >
  </CtaBanner>
  <!-- ends Banner -->

  <Footer />
</Layout>
