---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import ButtonSecondary from "../components/ButtonSecondary.astro";
---

<Layout title="Más info - Fabián Moreno - Product Designer">
  <Navbar />
  <main class="flex flex-col pt-36 justify-center max-w-7xl mx-auto gap-12">
    <section class="flex flex-col px-4 py-8 md:px-16 gap-10"> 
      <h1
        class="flex flex-col text-largeMobile text-color-title lg:text-largeDesktop"
      >
        Más info
      </h1>

      <div class="flex flex-col md:flex-row items-center align-start gap-8">
        <img
          src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719618/fabian-moreno-profile.webp"
          alt="foto de Fabián Moreno"
          class="aspect-auto max-w-xs"
        />
        <div class="flex flex-col gap-8 items-stretch content-center">
          <h2 class="text-subtitle1 text-color-subtitle">
            Hola, soy Fabián Moreno, Senior UX designer He liderado equipos UX
            en aplicaciones web y nativas para la industria TechEd, PropTech,
            Healthtech y Fintech. Gracias a mi pasión por la tecnología y el
            Front-end tengo gran facilidad para comunicarme y gestionar equipos
            de producto.
          </h2>
          <div class="flex flex-col gap-4 md:flex-row md:gap-6">
            <ButtonPrimary href="https://drive.google.com/file/d/1InDBWkHdXoELqvn6ulV2gYN0OC9iWGAX/view?usp=sharing">
              Descargar CV
              <i
                class="bx bxs-download bx-sm color-button-iconPrimary bx-fade-left-hover"
                slot="after"></i>
            </ButtonPrimary>
            

            <!-- Botón secundario - con el blank -->
            <a href="https://www.linkedin.com/in/fabianmorenoc/" class="flex flex-row align-middle justify-center gap-2 content-center bg-button-bgSecondary text-button-labelSecondary font-semibold border-solid border-[1px] border-button-borderSecondary rounded-lg hover:bg-button-bgSecondaryHovered focus:ring-4 focus:ring-violet-10 px-6 py-4 focus:outline-none" target="_blank">
              Ver LinkedIn
              <i
              class="bx bxl-linkedin-square bx-sm color-button-iconPrimary"
              slot="after"></i>
            </a>
            <!-- Termina Botón secundario  -->

          </div>
        </div>
      </div>
    </section>

    <section class="flex flex-col px-4 py-8 md:px-16">
      <h2 id="contact" class="text-title2 text-color-title">Contacto</h2>
      <p class="text-body text-color-body">
        ¿Tienes un proyecto en mente o simplemente quieres enviar un saludo o
        hacer alguna pregunta?
      </p>
      
      <!-- Para revisar luego:
      Como cambiar el color de un placeholder. como seleccionarlo bien para modificarlo. 
      -->
      <form action="#" method="POST" class="max-w-7xl sm:pt-8">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-3">
          <div>
            <label
              for="first-name"
              class="block text-action text-color-title font-medium"
              >Nombre</label
            >
            <div class="mt-2.5">
              <input
                type="text"
                name="first-name"
                id="first-name"
                placeholder="Ingresa tu nombre o apodo"
                autocomplete="given-name"
                required 
                class="block w-full rounded-lg p-4 text-inputText-textOnFocus bg-inputText-bg ring-1 ring-inset ring-color ring-inputText-borderDefault placeholder:text-inputText-textDefault hover:ring-inputText-borderHovered focus:ring-4 focus:ring-inset focus:ring-color focus:ring-violet-50"
              />
            </div>
          </div>

          <div>
            <label
              for="email"
              class="block text-action text-color-title font-medium"
              >Email</label
            >
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="¿A qué mail puedo responderte?"
                autocomplete="email"
                required 
                class="block w-full rounded-lg p-4 text-inputText-textOnFocus bg-inputText-bg ring-1 ring-inset ring-color ring-inputText-borderDefault placeholder:text-inputText-textDefault hover:ring-inputText-borderHovered focus:ring-4 focus:ring-inset focus:ring-color focus:ring-violet-50"
              />
            </div>
          </div>

          <div>
            <label
              for="subject"
              class="block text-action text-color-title font-medium"
              >Asunto</label
            >
            <div class="mt-2.5">
              <input
                type="text"
                name="subject"
                id="subject"
                placeholder="El motivo por el cúal me contactas"
                autocomplete="organization"
                class="block w-full rounded-lg p-4 text-inputText-textOnFocus bg-inputText-bg ring-1 ring-inset ring-color ring-inputText-borderDefault placeholder:text-inputText-textDefault hover:ring-inputText-borderHovered focus:ring-4 focus:ring-inset focus:ring-color focus:ring-violet-50"
              />
            </div>
          </div>


          <div class="sm:col-span-3">
            <label
              for="message"
              class="block text-action text-color-title font-medium"
              >Mensaje</label
            >
            <div class="mt-2.5">
              <textarea
                name="message"
                id="message"
                rows="4"
                placeholder="Cuéntame más detalles de tu proyecto, idea, etc."
                class="block w-full rounded-lg p-4 text-inputText-textOnFocus bg-inputText-bg ring-1 ring-inset ring-color ring-inputText-borderDefault placeholder:text-inputText-textDefault hover:ring-inputText-borderHovered focus:ring-4 focus:ring-inset focus:ring-color focus:ring-violet-50"
              ></textarea>
            </div>
          </div>

        </div>
        <div class="sm:col-span-3 mt-10">

          <button 
            type="submit"
            class="flex flex-row align-middle justify-center gap-2 bg-button-bgPrimary text-button-labelPrimary font-semibold rounded-lg hover:bg-button-bgPrimaryHovered duration-200 hover:shadow-lg focus:bg-button-bgPrimaryPressed focus:ring-4 focus:ring-violet-10 px-6 py-4 focus:outline-none !scroll-smooth">
            Send
          </button>


        </div>
      </form>

    </section>
  </main>
  <Footer />
</Layout>
