---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Quote from "../components/Quote.astro";
import CtaBanner from "../components/CtaBanner.astro";
---

<Layout title="Fabián Moreno - Product Designer - Trocando Pharma">
  <!--Componente Nav -->
  <Navbar />


  <section class="flex flex-col  justify-center md:max-w-7xl mx-auto pt-36 px-4 py-8 md:px-16">
    <h1 class="text-largeMobile text-color-title lg:text-largeDesktop">Marketplace Farmacéutico</h1>

    <ul
      class="grid grid-cols-2 pr-8 [&>li]:items-start pt-10 gap-x-0 gap-y-4 sm:gap-14 md:[&>li]:flex sm:flex sm:flex-wrap sm:[&>li]:flex-col "
    >
      <li class=" col-start-1 col-span-1">
        <p class=" text-overlineSm  md:text-overline  text-color-caption uppercase">Cliente</p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">Trocando</p>
      </li>

      <li class=" col-start-2 col-span-1">
        <p class="text-overlineSm  md:text-overline  text-color-caption uppercase">Rol</p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">Lead product designer</p>
      </li>

      <li class=" col-start-1 col-span-1">
        <p class="text-overlineSm  md:text-overline  text-color-caption uppercase">Plazo</p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">2 meses</p>
      </li>

      <li class=" col-start-2 col-span-1">
        <p class="text-overlineSm  md:text-overline  text-color-caption uppercase">Link</p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">View Website</p>
      </li>
    </ul>
  </section>

  <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719618/trocando-preview.webp" class="aspect-[10/6] object-cover md:aspect-auto"  alt="Computadora portail mostrando una tabla de productos de trocando"  />
    
  <main class="flex flex-col justify-center  max-w-4xl mx-auto px-4 pt-12 md:px-16">
    <h4 class="text-subtitle1 text-color-title font-normal">
      Para mediados de Mayo de 2023, inicié la gestión y diseño del MVP para una
      nueva plataforma que propone una solución para optimizar la gestión y
      comercialización de medicamentos, insumos, descartables, dispositivos
      médicos, equipamientos y accesorios.
    </h4>

    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2"> 
        <h2 class="text-title2 text-color-title">Descubrir y empatizar</h2>
        <h3 class="text-overlineSm text-color-caption uppercase">Entendiendo el negocio</h3>
      </div>
        <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719616/trocando-01.webp" alt="Preview de los  diagramas de flujo de Trocando" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
        <p class="text-body text-color-body">
          Iniciamos desde cero, entendiendo el negocio, la propuesta de valor y el
          scope del proyecto. Para esto realizamos diferentes reuniones y
          workshops para poner en común las definiciones, usuarios y
          funcionalidades core para todo el equipo. Con esto, empezamos a bocetar
          los flujos de alto nivel necesarios para las funcionalidades y las
          lógicas propias del negocio.
        </p>
    </section>

    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2">
        <h2 class="text-title2 text-color-title">Definir e idear</h2>
        <h3 class="text-overlineSm text-color-caption uppercase">Primeros insights, ideas y soluciones</h3>
      </div>

      <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719616/trocando-02.webp" alt="Propuesta de identidad de marca para Trocando" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
      <p class="text-body text-color-body">
        El desafío más importante del proyecto fue el tiempo. Por esto, junto
        con el dueño del producto, decidimos realizar un proceso de research
        rápido y enfocarnos en tener una versión funcional lo antes posible. Fue
        necesario diseñar los elementos básicos de marca como la paleta de
        color, tipografía, logotipo y aplicaciones básicas. Esto también fue
        importante para diseñar los wireframes de alta calidad y flujos finales.
      </p>
    </section>
  </main>

  <!-- Sección completa para Quote -->
  <Quote
  quote='"Even the best designers produce successful products only if their design solve the right problems. A wonderful interface to the wrong features will fail"', 
  author="Jakob Nielsen",
  >
  </Quote>
  <!-- termina Quote -->

  <main class="flex justify-center flex-col max-w-4xl mx-auto pb-16 px-4 md:px-16 gap-6">
   
      <div class="flex flex-col gap-2"> 
        <h2 class="text-title2 text-color-title">Prototipar e iterar</h2>
        <h3 class="text-overlineSm text-color-caption uppercase">Componentes y flujos de navegación</h3>
      </div>
        <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719616/trocando-03.webp" alt="" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
      <p class="text-body text-color-body">
        Diseñe los componentes necesarios para la primera versión de nuestro
        Design System. Cree el Handoff con toda la documentación detallada para
        el equipo de desarrollo y validamos la factibilidad técnica del MVP con
        el equipo de desarrollo para detectar los principales riesgos y
        seguimiento del producto.
      </p>

      <div
        class="flex flex-col gap-4"
      >
        <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719616/trocando-04.webp" alt="" class="aspect-[5/4] rounded-lg object-cover md:aspect-video" />
      </div>
      <p class="text-body text-color-body">
        Conforme fuimos avanzando sobre pruebas de calidad media, se hacía
        evidente la necesidad de afinar una propuesta de rediseño de marca. Por
        esto, organizamos un Brand Sprint para poner en común el imaginario y la
        definición de Quiena como marca. Esto nos ayudo a poner en común y
        decidir una primera versión del Brand Guidelines de Quiena.
      </p>
  </main>

    <!-- Full width image -->
    <div>
      <img loading="lazy" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719616/trocando-results.webp" alt="" class="aspect-[10/6] object-cover md:aspect-auto" />
    </div>
    <!-- Ends full width image -->

    <section class="flex justify-center flex-col max-w-4xl mx-auto py-16 px-4 md:px-16 gap-6">
      
      <div> 
        <h2 class="text-title2 text-color-title">Resultados</h2>
      </div>
      
      <p class="text-body text-color-body">
        Logramos tener una versión de MVP de la plataforma en en el tiempo
        propuesto. Además de brindar asesoría para mejorar la experiencia de
        usuario y acompañar el proceso de ajuste al mercado del producto.
      </p>
    </section>

    <!-- Full Banner CTA  -->
    <CtaBanner
    content="Si te interesa saber más sobre este y otros proyectos puedes contactarme."
    >
    </CtaBanner>
    <!-- ends Banner -->

    <Footer />
 
</Layout>
