---
interface Props {
	href: string;
    target: string;
}

const { href, target } = Astro.props;
---
<a 
    href={href} 
    target={target} 
    class="
        flex flex-row 
        items-center justify-center 
        md:whitespace-nowrap 
        gap-2 
        px-4
        py-3 
        md:px-6 
        md:py-4 
        content-center 
        bg-button-bgSecondary 
        text-button-labelSecondary 
        font-semibold 
        border-solid border-[1px] border-button-borderSecondary 
        rounded-lg 
        hover:bg-button-bgSecondaryHovered 
        focus:ring-4 focus:ring-violet-10 
        focus:outline-none
        ">
    <slot name="before" />
    <slot />
    <slot name="after" />
</a>
