---
interface Props {
	href: string;
    target: string;
}

const { href, target } = Astro.props;
---
<a 
    href={href} 
    target={target} 
    class="
        flex flex-row 
        align-middle justify-center 
        gap-2
        px-4
        py-3 
        md:px-6 
        md:py-4 
        bg-button-bgPrimary 
        text-button-labelPrimary font-semibold 
        rounded-lg 
        hover:bg-button-bgPrimaryHovered 
        hover:shadow-lg 
        focus:bg-button-bgPrimaryPressed 
        focus:ring-4 
        focus:ring-violet-10 
        focus:outline-none 
        duration-200 
        ">
    <slot name="before" />
    <slot> Label Button </slot>
    <slot name="after" />
</a>
