<footer class="flex flex-col w-full bg-surface-secondary px-8 py-12 gap-10">
  <div class="flex flex-row justify-between items-center">
    <div>
      <svg
        width="206"
        height="32"
        viewBox="0 0 206 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.375977 27.3152L2.41408 31.0208H6.49028L4.4021 27.3152H0.375977Z"
          fill="#29233B"></path>
        <path
          d="M14.6162 0.979004H18.7413L4.37692 26.8558H0.352051L14.6162 0.979004Z"
          fill="#29233B"></path>
        <path
          d="M43.5669 9.80249L41.5176 13.5119L51.2273 31.0135H55.2547L43.5669 9.80249Z"
          fill="#29233B"></path>
        <path
          d="M6.76933 30.7942L19.0543 8.87591L26.7497 22.4528L28.8729 18.7697L19.0543 1.15918L4.68115 27.0886L6.76933 30.7942Z"
          fill="#29233B"></path>
        <path
          d="M17.0303 13.2602L26.7338 30.8256L40.9804 5.22923L38.9185 1.39966L26.7338 23.2329L19.0559 9.6497L17.0303 13.2602Z"
          fill="#29233B"></path>
        <path
          d="M57.6476 27.4568L45.5781 5.29688H41.2928L27.0762 31.0122H31.3602L43.5838 9.17527L55.5357 30.8883L57.6476 27.4568Z"
          fill="#29233B"></path>
        <path
          d="M39.2515 1.18799L41.2883 4.89488H45.3658L43.2776 1.18799H39.2515Z"
          fill="#29233B"></path>
        <path
          d="M71.4263 18V4.0739H80.7566V6.45105H74.1204V9.8979H80.4198V12.2949H74.1204V18H71.4263ZM86.2933 18.1981C83.6785 18.1981 81.6975 16.0587 81.6975 13.2259C81.6975 10.3931 83.6785 8.2339 86.2735 8.2339C87.4225 8.2339 88.3931 8.6499 89.0667 9.34324V8.432H91.6419V18H89.0667V17.0888C88.3931 17.7821 87.4225 18.1981 86.2933 18.1981ZM86.7688 15.8011C88.2149 15.8011 89.2053 14.7314 89.2053 13.2061C89.2053 11.7006 88.2149 10.6309 86.7688 10.6309C85.3425 10.6309 84.352 11.7006 84.352 13.2061C84.352 14.7314 85.3425 15.8011 86.7688 15.8011ZM93.9376 18V3.67771H96.5327V9.24419C97.2062 8.61028 98.1571 8.2339 99.2466 8.2339C101.901 8.2339 103.882 10.3931 103.882 13.2259C103.882 16.0587 101.901 18.1981 99.2466 18.1981C98.1373 18.1981 97.1864 17.8019 96.5129 17.1482V18H93.9376ZM98.8108 15.8011C100.217 15.8011 101.228 14.7314 101.228 13.2061C101.228 11.7006 100.217 10.6309 98.791 10.6309C97.3647 10.6309 96.3742 11.7006 96.3742 13.2061C96.3742 14.7314 97.3647 15.8011 98.8108 15.8011ZM106.891 6.88686C106.039 6.88686 105.425 6.23314 105.425 5.40114C105.425 4.56914 106.039 3.91543 106.891 3.91543C107.743 3.91543 108.357 4.56914 108.357 5.40114C108.357 6.23314 107.743 6.88686 106.891 6.88686ZM105.583 18V8.432H108.198V18H105.583ZM113.687 7.20381L112.696 5.97562L115.549 2.88533L117.213 4.9059L113.687 7.20381ZM114.499 18.1981C111.884 18.1981 109.903 16.0587 109.903 13.2259C109.903 10.3931 111.884 8.2339 114.479 8.2339C115.628 8.2339 116.599 8.6499 117.272 9.34324V8.432H119.847V18H117.272V17.0888C116.599 17.7821 115.628 18.1981 114.499 18.1981ZM114.974 15.8011C116.42 15.8011 117.411 14.7314 117.411 13.2061C117.411 11.7006 116.42 10.6309 114.974 10.6309C113.548 10.6309 112.557 11.7006 112.557 13.2061C112.557 14.7314 113.548 15.8011 114.974 15.8011ZM122.143 18V8.432H124.738V9.34324C125.412 8.6499 126.382 8.2339 127.511 8.2339C129.631 8.2339 131.176 10.0168 131.176 11.9383V18H128.581V12.5128C128.581 11.3836 127.789 10.5912 126.66 10.5912C125.55 10.5912 124.738 11.3836 124.738 12.5128V18H122.143ZM137.413 18V4.0739H139.315L144.406 12.2354L149.497 4.0739H151.398V18H148.724V9.69981L145.317 15.1474H143.494L140.107 9.68V18H137.413ZM158.463 18.1981C155.57 18.1981 153.332 16.019 153.332 13.1863C153.332 10.3931 155.551 8.21409 158.443 8.21409C161.355 8.21409 163.574 10.3733 163.574 13.1863C163.574 16.019 161.355 18.1981 158.463 18.1981ZM158.443 15.7813C159.909 15.7813 160.919 14.7116 160.919 13.2061C160.919 11.7006 159.889 10.6507 158.443 10.6507C156.997 10.6507 155.986 11.7204 155.986 13.2061C155.986 14.7116 156.997 15.7813 158.443 15.7813ZM165.244 18V8.432H167.839V9.28381C168.414 8.61028 169.226 8.2339 170.315 8.2339C171.246 8.2339 171.979 8.53105 172.574 9.20457L170.949 11.0667C170.632 10.7497 170.256 10.5912 169.721 10.5912C168.592 10.5912 167.839 11.2846 167.839 12.7109V18H165.244ZM177.79 18.1981C174.799 18.1981 172.581 16.0983 172.581 13.2061C172.581 10.3733 174.779 8.21409 177.612 8.21409C180.346 8.21409 182.327 10.2347 182.327 12.9882C182.327 13.325 182.287 13.6815 182.188 14.1173L175.195 14.1371C175.512 15.3257 176.443 16.019 177.771 16.019C178.721 16.019 179.553 15.6823 180.128 15.0286L181.653 16.5539C180.702 17.6434 179.336 18.1981 177.79 18.1981ZM177.612 10.3733C176.384 10.3931 175.512 11.0667 175.195 12.1958H179.831C179.573 11.0072 178.821 10.3733 177.612 10.3733ZM183.932 18V8.432H186.527V9.34324C187.2 8.6499 188.171 8.2339 189.3 8.2339C191.42 8.2339 192.965 10.0168 192.965 11.9383V18H190.37V12.5128C190.37 11.3836 189.577 10.5912 188.448 10.5912C187.339 10.5912 186.527 11.3836 186.527 12.5128V18H183.932ZM199.552 18.1981C196.66 18.1981 194.421 16.019 194.421 13.1863C194.421 10.3931 196.64 8.21409 199.532 8.21409C202.444 8.21409 204.663 10.3733 204.663 13.1863C204.663 16.019 202.444 18.1981 199.552 18.1981ZM199.532 15.7813C200.998 15.7813 202.008 14.7116 202.008 13.2061C202.008 11.7006 200.978 10.6507 199.532 10.6507C198.086 10.6507 197.076 11.7204 197.076 13.2061C197.076 14.7116 198.086 15.7813 199.532 15.7813Z"
          fill="#29233B"></path>
        <path
          d="M76.7497 30V23.6549H79.1086C80.2697 23.6549 81.1566 24.4137 81.1566 25.5931C81.1566 26.7634 80.2697 27.5314 79.1086 27.5314H77.6091V30H76.7497ZM79.0537 24.4046H77.6091V26.7817H79.0537C79.776 26.7817 80.288 26.3154 80.288 25.5931C80.288 24.8617 79.776 24.4046 79.0537 24.4046ZM84.5086 30V23.6549H86.8401C88.0469 23.6549 88.8241 24.4137 88.8241 25.4469C88.8241 26.4891 88.1018 27.184 86.9772 27.2297L89.2538 30H88.1658L85.9258 27.2389H85.3681V30H84.5086ZM86.8126 24.4046H85.3681V26.5166H86.8035C87.5441 26.5166 87.9646 26.1143 87.9646 25.4651C87.9646 24.8617 87.5441 24.4046 86.8126 24.4046ZM95.2192 30.0914C93.4272 30.0914 92.0101 28.6377 92.0101 26.8183C92.0101 24.9989 93.4089 23.5634 95.2009 23.5634C97.0021 23.5634 98.4101 24.9989 98.4101 26.8274C98.4101 28.6469 97.0112 30.0914 95.2192 30.0914ZM95.2009 29.2686C96.5541 29.2686 97.5232 28.2446 97.5232 26.8183C97.5232 25.4103 96.5541 24.3863 95.2009 24.3863C93.8569 24.3863 92.8969 25.4011 92.8969 26.8183C92.8969 28.2446 93.8569 29.2686 95.2009 29.2686ZM101.875 30V23.6549H104.224C106.071 23.6549 107.452 25.008 107.452 26.8274C107.452 28.6286 106.08 30 104.243 30H101.875ZM104.206 24.4411H102.734V29.2137H104.206C105.596 29.2137 106.565 28.2263 106.565 26.8183C106.565 25.4194 105.596 24.4411 104.206 24.4411ZM113.305 30.0914C111.907 30.0914 110.855 29.0491 110.855 27.6503V23.6549H111.715V27.632C111.715 28.6286 112.4 29.2686 113.305 29.2686C114.22 29.2686 114.887 28.6286 114.887 27.6411V23.6549H115.756V27.6594C115.756 29.0583 114.713 30.0914 113.305 30.0914ZM122.335 30.0914C120.497 30.0914 119.135 28.6469 119.135 26.8274C119.135 25.008 120.488 23.5634 122.326 23.5634C123.323 23.5634 124.063 23.9291 124.648 24.5143L124.054 25.1086C123.643 24.6606 123.057 24.3863 122.326 24.3863C120.982 24.3863 120.022 25.4103 120.022 26.8274C120.022 28.2537 120.991 29.2686 122.326 29.2686C123.121 29.2686 123.688 28.9851 124.1 28.5371L124.694 29.1223C124.118 29.7257 123.332 30.0914 122.335 30.0914ZM129.575 30V24.4411H127.417V23.6549H132.583V24.4411H130.434V30H129.575ZM139.937 30V23.6549H142.287C144.134 23.6549 145.514 25.008 145.514 26.8274C145.514 28.6286 144.143 30 142.305 30H139.937ZM142.269 24.4411H140.797V29.2137H142.269C143.658 29.2137 144.628 28.2263 144.628 26.8183C144.628 25.4194 143.658 24.4411 142.269 24.4411ZM148.991 30V23.6549H153.169V24.4411H149.85V26.3794H152.913V27.1291H149.85V29.2137H153.215V30H148.991ZM158.273 30.0914C157.268 30.0914 156.591 29.7166 156.052 29.0217L156.637 28.4366C157.039 28.9943 157.533 29.2869 158.301 29.2869C159.05 29.2869 159.553 28.9394 159.553 28.3634C159.553 26.7269 156.463 27.5406 156.463 25.2731C156.463 24.2034 157.322 23.5634 158.456 23.5634C159.288 23.5634 159.956 23.92 160.376 24.4411L159.791 25.0263C159.416 24.5874 159.005 24.368 158.438 24.368C157.752 24.368 157.322 24.6789 157.322 25.2183C157.322 26.7086 160.422 25.9497 160.422 28.2994C160.422 29.424 159.59 30.0914 158.273 30.0914ZM163.866 30V23.6549H164.725V30H163.866ZM171.38 30.0914C169.597 30.0914 168.189 28.6469 168.189 26.8183C168.189 24.9897 169.588 23.5634 171.434 23.5634C172.449 23.5634 173.336 23.9749 173.903 24.6971L173.309 25.2914C172.906 24.7063 172.212 24.3863 171.434 24.3863C170.036 24.3863 169.076 25.392 169.076 26.8183C169.076 28.2537 170.045 29.2594 171.352 29.2594C172.577 29.2686 173.373 28.6103 173.51 27.4034H171.316V26.6171H174.424V26.7451C174.424 28.9486 173.162 30.0914 171.38 30.0914ZM177.866 30V23.6549H178.469L181.998 28.3634V23.6549H182.858V30H182.254L178.725 25.2914V30H177.866ZM186.643 30V23.6549H190.821V24.4411H187.502V26.3794H190.565V27.1291H187.502V29.2137H190.867V30H186.643ZM194.321 30V23.6549H196.653C197.859 23.6549 198.637 24.4137 198.637 25.4469C198.637 26.4891 197.914 27.184 196.79 27.2297L199.066 30H197.978L195.738 27.2389H195.181V30H194.321ZM196.625 24.4046H195.181V26.5166H196.616C197.357 26.5166 197.777 26.1143 197.777 25.4651C197.777 24.8617 197.357 24.4046 196.625 24.4046Z"
          fill="#4E4763"></path>
      </svg>
    </div>

    <div>
      <button
        type="button"
        data-dropdown-toggle="language-dropdown-menu"
        class="flex rounded-xl gap-1 items-center font-medium justify-center px-3 py-2 text-color-title text-body hover:bg-button-bgTertiaryHovered hover:text-button-labelTertiaryHovered"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M9.38 21.646A9.985 9.985 0 0 0 12 22l.141-.001a2.998 2.998 0 0 0 2.515-1.425c.542-.876.6-1.953.153-2.88l-.198-.415c-.453-.942-.097-1.796.388-2.281.485-.485 1.341-.841 2.28-.388h.001l.413.199a2.99 2.99 0 0 0 2.881-.153A2.997 2.997 0 0 0 22 12.141a9.926 9.926 0 0 0-.353-2.76c-1.038-3.827-4.353-6.754-8.246-7.285-3.149-.427-6.241.602-8.471 2.833S1.666 10.247 2.096 13.4c.53 3.894 3.458 7.208 7.284 8.246zM15.5 6a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3zm-5-1a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3zM9 15.506a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-2.5-6.5a1.5 1.5 0 1 1-.001 3.001A1.5 1.5 0 0 1 6.5 9.006z"></path></svg>
        OS Default
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"></path>
        </svg>
      </button>
      <!-- Dropdown -->
      <div
        class="z-50 hidden my-4 text-action list-none bg-surface-primary divide-y divide-neutral-50 rounded-lg shadow"
        id="language-dropdown-menu"
      >
        <ul class="py-2 font-medium" role="none">
          <li>
            <a
              href="#"
              class="block text-color-body title px-4 py-2 hover:bg-button-bgSecondaryHovered"
              role="menuitem"
            >
              <div class="inline-flex items-center">
                <svg
                  aria-hidden="true"
                  class="h-3.5 w-3.5 rounded-full mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  id="flag-icon-css-us"
                  viewBox="0 0 512 512"
                  ><g fill-rule="evenodd"
                    ><g stroke-width="1pt"
                      ><path
                        fill="#bd3d44"
                        d="M0 0h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0z"
                        transform="scale(3.9385)"></path><path
                        fill="#fff"
                        d="M0 10h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0z"
                        transform="scale(3.9385)"></path></g
                    ><path
                      fill="#192f5d"
                      d="M0 0h98.8v70H0z"
                      transform="scale(3.9385)"></path><path
                      fill="#fff"
                      d="M8.2 3l1 2.8H12L9.7 7.5l.9 2.7-2.4-1.7L6 10.2l.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7L74 8.5l-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 7.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 24.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 21.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 38.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 35.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 52.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 49.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 66.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 63.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9z"
                      transform="scale(3.9385)"></path></g
                  ></svg
                >
                Dark mode
              </div>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="block text-color-body title px-4 py-2 hover:bg-button-bgSecondaryHovered"
              role="menuitem"
            >
              <div class="inline-flex items-center">
                <svg
                  class="h-3.5 w-3.5 rounded-full mr-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  id="flag-icon-css-ar"
                  viewBox="0 0 512 512"
                  ><path fill="#ffce00" d="M0 341.3h512V512H0z"></path><path
                    d="M0 0h512v170.7H0z"></path><path
                    fill="#d00"
                    d="M0 170.7h512v170.6H0z"></path></svg
                >
                Light mode
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <span
    class="flex justify-center text-center text-overline uppercase text-color-caption"
  >
    ©Fabian Moreno · 2023 <br /> Built wit ❤️ using Astro & Tailwind
  </span>
</footer>
