---
import { languages } from '../i18n/ui';

// entries example
// { es: 'hola', en: 'chau' } => [['es', 'hola'], ['en', 'chau']]
---
<ul>
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a href={`/${lang}/`}>{label}</a>
    </li>
  ))}
</ul>