@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Outfit-Variable';
  src: url('../fonts/Outfit-Variable.woff2') format('woff2'),
       url('../fonts/Outfit-Variable.woff') format('woff'),
       url('../fonts/Outfit-Variable.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

@layer base {
  :root {
    /* primitive colors */
    --blue10: 215deg 89% 67%;
    --blue30: 225deg 100% 68%;
    --blue50: 225deg 100% 62%;
    --blue70: 225deg 74% 52%;
    --blue90: 225deg 73% 31%;
    --green10: 115deg 50% 68%;
    --green30: 130deg 40% 60%;
    --green50: 130deg 40% 54%;
    --green70: 129deg 44% 40%;
    --green90: 129deg 76% 20%;
    --neutral10: 240deg 33% 99%;
    --neutral100: 0deg 0 0%;
    --neutral20: 240deg 17% 98%;
    --neutral30: 255deg 17% 91%;
    --neutral40: 250deg 8% 63%;
    --neutral50: 238deg 13% 46%;
    --neutral60: 255deg 16% 33%;
    --neutral80: 255deg 26% 18%;
    --neutral90: 256deg 30% 7%;
    --red10: 0deg 50% 68%;
    --red30: 0deg 56% 58%;
    --red50: 0deg 56% 52%;
    --red70: 0deg 56% 40%;
    --red90: 0deg 56% 28%;
    --violet10: 259deg 74% 76%;
    --violet30: 260deg 79% 70%;
    --violet50: 260deg 79% 64%;
    --violet70: 260deg 55% 53%;
    --violet90: 256deg 37% 25%;
  }

  @media (prefers-color-scheme: dark ) {
    /* Default System color */
    :root {
      --bg-primary: var(--neutral90);
      --bg-secondary: var(--neutral100);
      --button-bg-primary: var(--violet50);
      --button-bg-primary-disabled: var(--neutral80);
      --button-bg-primary-hovered: var(--violet70);
      --button-bg-primary-pressed: var(--violet70);
      --button-bg-secondary: var(--neutral80);
      --button-bg-secondary-disabled: var(--neutral90);
      --button-bg-secondary-hovered: var(--violet30);
      --button-bg-secondary-pressed: var(--violet70);
      --button-bg-tertiary-hovered: var(--neutral80);
      --button-bg-tertiary-pressed: var(--neutral80);
      --button-border-secondary: var(--neutral50);
      --button-border-secondary-disabled: var(--neutral80);
      --button-border-secondary-hovered: var(--violet50);
      --button-border-secondary-pressed: var(--violet70);
      --button-border-tertiary-selected: var(--violet70);
      --button-icon-primary: var(--neutral10);
      --button-icon-primary-disabled: var(--neutral40);
      --button-icon-secondary: var(--neutral40);
      --button-icon-secondary-disabled: var(--neutral50);
      --button-icon-secondary-hovered: var(--neutral10);
      --button-icon-secondary-pressed: var(--neutral10);
      --button-icon-tertiary: var(--neutral30);
      --button-icon-tertiary-disabled: var(--neutral50);
      --button-icon-tertiary-hovered: var(--violet10);
      --button-icon-tertiary-pressed: var(--violet10);
      --button-icon-tertiary-selected: var(--violet10);
      --button-label-primary: var(--neutral10);
      --button-label-primary-disabled: var(--neutral40);
      --button-label-secondary: var(--neutral30);
      --button-label-secondary-disabled: var(--neutral50);
      --button-label-secondary-hovered: var(--neutral10);
      --button-label-secondary-pressed: var(--neutral10);
      --button-label-tertiary: var(--neutral30);
      --button-label-tertiary-disabled: var(--neutral50);
      --button-label-tertiary-hovered: var(--violet10);
      --button-label-tertiary-pressed: var(--violet10);
      --button-label-tertiary-selected: var(--violet10);
      --card-bg: var(--neutral80);
      --card-border: var(--neutral60);
      --card-border-hovered: var(--violet50);
      --chip-bg: var(--neutral80);
      --chip-bg-disabled: var(--neutral60);
      --chip-bg-hovered: var(--violet50);
      --chip-bg-selected: var(--violet70);
      --chip-border: var(--neutral60);
      --chip-border-disabled: var(--neutral60);
      --chip-border-hovered: var(--neutral90);
      --chip-border-selected: var(--violet50);
      --chip-content: var(--neutral40);
      --chip-content-disabled: var(--neutral40);
      --chip-content-hovered: var(--neutral40);
      --chip-content-selected: var(--neutral20);
      --input-text-bg: var(--neutral60);
      --input-text-bg-disabled: var(--neutral80);
      --input-text-bg-typed: var(--neutral60);
      --input-text-border-default: var(--neutral50);
      --input-text-border-error: var(--red50);
      --input-text-border-hovered: var(--neutral40);
      --input-text-border-onfocus: var(--violet50);
      --input-text-border-typing: var(--violet50);
      --input-text-description: var(--neutral30);
      --input-text-description-error: var(--red50);
      --input-text-icon: var(--neutral40);
      --input-text-text-default: var(--neutral40);
      --input-text-text-disabled: var(--neutral50);
      --input-text-text-error: var(--neutral40);
      --input-text-text-hovered: var(--neutral40);
      --input-text-text-onfocus: var(--neutral30);
      --input-text-text-typed: var(--neutral20);
      --input-text-text-typing: var(--neutral30);
      --input-text-title: var(--neutral20);
      --input-text-title-disabled: var(--neutral50);
      --input-text-title-error-required: var(--red50);
      --text-body: var(--neutral40);
      --text-caption: var(--neutral40);
      --text-disabled: var(--neutral60);
      --text-subtitle: var(--neutral30);
      --text-title: var(--neutral20);
    }
  }

  :root[data-theme="light"] {
    /* light colors */
    --bg-primary: var(--neutral20);
    --bg-secondary: var(--neutral10);
    --button-bg-primary: var(--violet50);
    --button-bg-primary-disabled: var(--neutral30);
    --button-bg-primary-hovered: var(--violet70);
    --button-bg-primary-pressed: var(--violet70);
    --button-bg-secondary: var(--neutral10);
    --button-bg-secondary-disabled: var(--neutral10);
    --button-bg-secondary-hovered: var(--neutral30);
    --button-bg-secondary-pressed: var(--violet70);
    --button-bg-tertiary-hovered: var(--neutral30);
    --button-border-secondary: var(--neutral40);
    --button-border-secondary-disabled: var(--neutral30);
    --button-border-secondary-hovered: var(--violet50);
    --button-border-secondary-pressed: var(--violet70);
    --button-border-tertiary-selected: var(--violet70);
    --button-border-tertiary-pressed: var(--violet70);
    --button-icon-primary: var(--neutral10);
    --button-icon-primary-disabled: var(--neutral40);
    --button-icon-secondary: var(--neutral80);
    --button-icon-secondary-disabled: var(--neutral40);
    --button-icon-secondary-hovered: var(--neutral80);
    --button-icon-secondary-pressed: var(--neutral10);
    --button-icon-tertiary: var(--neutral80);
    --button-icon-tertiary-disabled: var(--neutral40);
    --button-icon-tertiary-hovered: var(--violet50);
    --button-icon-tertiary-pressed: var(--violet70);
    --button-icon-tertiary-selected: var(--violet70);
    --button-label-primary: var(--neutral10);
    --button-label-primary-disabled: var(--neutral40);
    --button-label-secondary: var(--neutral80);
    --button-label-secondary-disabled: var(--neutral40);
    --button-label-secondary-hovered: var(--neutral80);
    --button-label-secondary-pressed: var(--neutral10);
    --button-label-tertiary: var(--neutral80);
    --button-label-tertiary-disabled: var(--neutral40);
    --button-label-tertiary-hovered: var(--violet70);
    --button-label-tertiary-pressed: var(--violet70);
    --button-label-tertiary-selected: var(--violet70);
    --card-bg: var(--neutral10);
    --card-border: var(--neutral30);
    --card-border-hovered: var(--violet50);
    --chip-bg: var(--neutral10);
    --chip-bg-disabled: var(--neutral10);
    --chip-bg-hovered: var(--neutral30);
    --chip-bg-selected: var(--violet50);
    --chip-border: var(--neutral30);
    --chip-border-disabled: var(--neutral30);
    --chip-border-hovered: var(--violet30);
    --chip-border-selected: var(--violet50);
    --chip-content: var(--neutral60);
    --chip-content-disabled: var(--neutral40);
    --chip-content-hovered: var(--neutral60);
    --chip-content-selected: var(--neutral20);
    --input-text-bg: var(--neutral10);
    --input-text-bg-disabled: var(--neutral30);
    --input-text-bg-typed: var(--neutral30);
    --input-text-border-default: var(--neutral30);
    --input-text-border-error: var(--red50);
    --input-text-border-hovered: var(--neutral40);
    --input-text-border-onfocus: var(--violet50);
    --input-text-border-typing: var(--violet50);
    --input-text-description: var(--neutral50);
    --input-text-description-error: var(--red50);
    --input-text-icon: var(--neutral40);
    --input-text-text-default: var(--neutral40);
    --input-text-text-disabled: var(--neutral40);
    --input-text-text-error: var(--neutral40);
    --input-text-text-hovered: var(--neutral40);
    --input-text-text-onfocus: var(--neutral80);
    --input-text-text-typed: var(--neutral80);
    --input-text-text-typing: var(--neutral80);
    --input-text-title: var(--neutral80);
    --input-text-title-disabled: var(--neutral40);
    --input-text-title-error-required: var(--red50);
    --text-body: var(--neutral60);
    --text-caption: var(--neutral50);
    --text-disabled: var(--neutral40);
    --text-subtitle: var(--neutral60);
    --text-title: var(--neutral80);
  }

  :root[data-theme="dark"] {
    /* dark colors */
    --bg-primary: var(--neutral90);
    --bg-secondary: var(--neutral100);
    --button-bg-primary: var(--violet50);
    --button-bg-primary-disabled: var(--neutral80);
    --button-bg-primary-hovered: var(--violet70);
    --button-bg-primary-pressed: var(--violet70);
    --button-bg-secondary: var(--neutral80);
    --button-bg-secondary-disabled: var(--neutral90);
    --button-bg-secondary-hovered: var(--violet30);
    --button-bg-secondary-pressed: var(--violet70);
    --button-bg-tertiary-hovered: var(--neutral80);
    --button-bg-tertiary-pressed: var(--neutral80);
    --button-border-secondary: var(--neutral50);
    --button-border-secondary-disabled: var(--neutral80);
    --button-border-secondary-hovered: var(--violet50);
    --button-border-secondary-pressed: var(--violet70);
    --button-border-tertiary-selected: var(--violet70);
    --button-icon-primary: var(--neutral10);
    --button-icon-primary-disabled: var(--neutral40);
    --button-icon-secondary: var(--neutral40);
    --button-icon-secondary-disabled: var(--neutral50);
    --button-icon-secondary-hovered: var(--neutral10);
    --button-icon-secondary-pressed: var(--neutral10);
    --button-icon-tertiary: var(--neutral30);
    --button-icon-tertiary-disabled: var(--neutral50);
    --button-icon-tertiary-hovered: var(--violet10);
    --button-icon-tertiary-pressed: var(--violet10);
    --button-icon-tertiary-selected: var(--violet10);
    --button-label-primary: var(--neutral10);
    --button-label-primary-disabled: var(--neutral40);
    --button-label-secondary: var(--neutral30);
    --button-label-secondary-disabled: var(--neutral50);
    --button-label-secondary-hovered: var(--neutral10);
    --button-label-secondary-pressed: var(--neutral10);
    --button-label-tertiary: var(--neutral30);
    --button-label-tertiary-disabled: var(--neutral50);
    --button-label-tertiary-hovered: var(--violet10);
    --button-label-tertiary-pressed: var(--violet10);
    --button-label-tertiary-selected: var(--violet10);
    --card-bg: var(--neutral80);
    --card-border: var(--neutral60);
    --card-border-hovered: var(--violet50);
    --chip-bg: var(--neutral80);
    --chip-bg-disabled: var(--neutral60);
    --chip-bg-hovered: var(--violet50);
    --chip-bg-selected: var(--violet70);
    --chip-border: var(--neutral60);
    --chip-border-disabled: var(--neutral60);
    --chip-border-hovered: var(--neutral90);
    --chip-border-selected: var(--violet50);
    --chip-content: var(--neutral40);
    --chip-content-disabled: var(--neutral40);
    --chip-content-hovered: var(--neutral40);
    --chip-content-selected: var(--neutral20);
    --input-text-bg: var(--neutral60);
    --input-text-bg-disabled: var(--neutral80);
    --input-text-bg-typed: var(--neutral60);
    --input-text-border-default: var(--neutral50);
    --input-text-border-error: var(--red50);
    --input-text-border-hovered: var(--neutral40);
    --input-text-border-onfocus: var(--violet50);
    --input-text-border-typing: var(--violet50);
    --input-text-description: var(--neutral30);
    --input-text-description-error: var(--red50);
    --input-text-icon: var(--neutral40);
    --input-text-text-default: var(--neutral40);
    --input-text-text-disabled: var(--neutral50);
    --input-text-text-error: var(--neutral40);
    --input-text-text-hovered: var(--neutral40);
    --input-text-text-onfocus: var(--neutral30);
    --input-text-text-typed: var(--neutral20);
    --input-text-text-typing: var(--neutral30);
    --input-text-title: var(--neutral20);
    --input-text-title-disabled: var(--neutral50);
    --input-text-title-error-required: var(--red50);
    --text-body: var(--neutral40);
    --text-caption: var(--neutral40);
    --text-disabled: var(--neutral60);
    --text-subtitle: var(--neutral30);
    --text-title: var(--neutral20);
  }



}
