---
import Layout from "../../layouts/Layout.astro";
import ButtonPrimary from "../../components/ButtonPrimary.astro";

import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Fabián Moreno | Success 200">

   
    <main class=" w-full h-screen bg-card-surface flex flex-col justify-center [&>p]:text-center items-center px-4 gap-4">
        <img class="max-w-[18rem]" src="https://res.cloudinary.com/dfh5otihs/image/upload/v1695233966/success_2x_zk3h8e.webp" >
        <p class=" text-overline text-color-caption uppercase">status 200</p>
        <div class="flex flex-col gap-2  [&>p]:text-center">    
            <p class=" text-title3 font-normal text-color-title">
                {t('title-200')}
            </p>
            <p class=" text-action font-normal text-color-subtitle sm:max-w-md">
                {t('description-200')}
            </p>
        </div>
        <ButtonPrimary
            href={`/${lang}/`}
            target="_self"
        >
        {t('button-200')}
        <i class='bx bx-left-arrow-alt bx-sm color-button-iconSecondary' slot="before"></i>
        </ButtonPrimary>
    </main>


</Layout>