---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import Quote from "../../components/Quote.astro";
import CtaBanner from "../../components/CtaBanner.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Fabián Moreno - Product Designer - Inmobiliaria digital">
  <!--Componente Nav -->
  <Navbar />

  <section class="flex flex-col  justify-center md:max-w-7xl mx-auto pt-32 pb-8 px-4 md:px-16 animate-fade-up delay-150">
    <h1 class="text-largeMobile text-color-title lg:text-largeDesktop">
      {t('realestate-title')}
    </h1>

    <ul
      class="grid grid-cols-2 pr-8 [&>li]:items-start pt-10 gap-x-0 gap-y-4 sm:gap-14 md:[&>li]:flex sm:flex sm:flex-wrap sm:[&>li]:flex-col "
    >
      <li class=" col-start-1 col-span-1">
        <p class=" text-overlineSm  md:text-overline  text-color-caption uppercase">
          {t('realestate-item-client-title')}
        </p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">
          {t('realestate-item-client-value')}
        </p>
      </li>

      <li class=" col-start-2 col-span-1">
        <p class="text-overlineSm  md:text-overline  text-color-caption uppercase">
          {t('realestate-item-roll-title')}
        </p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">
          {t('realestate-item-roll-value')}
        </p>
      </li>

      <li class=" col-start-1 col-span-1">
        <p class="text-overlineSm  md:text-overline  text-color-caption uppercase">
          {t('realestate-item-timeframe-title')}
        </p>
        <p class=" text-action font-medium md:text-subtitle1 text-color-title">
          {t('realestate-item-timeframe-value')}
        </p>
      </li>
    </ul>
  </section>

  <img 
    loading="lazy"
    src="https://res.cloudinary.com/dfh5otihs/image/upload/v1695914320/real-estate-preview.webp" 
    class="aspect-[10/6] object-cover md:aspect-auto animate-fade-up delay-150"  
    alt="Diseño de app nativa para la compra y venta de propiedades en Buenos Aires y Argentina" 
  />


  <main class="flex flex-col justify-center  max-w-4xl mx-auto px-4 pt-12 md:px-16 animate-fade-up delay-150">
    <h4 class="text-subtitle1 text-color-title font-normal">
      {t('realestate-intro')}
    </h4>

    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2"> 
        <h2 class="text-title2 text-color-title">
          {t('realestate-title1')}
        </h2>
        <h3 class="text-overlineSm text-color-caption uppercase">
          {t('realestate-subtitle1')}
        </h3>
      </div>
        <img 
          loading="lazy" 
          src="https://res.cloudinary.com/dfh5otihs/image/upload/v1695914327/real-estate-01.webp" 
          class="aspect-[5/4] rounded-lg object-cover md:aspect-video"
          alt="Fotografía de una pantalla que muestra el kickoff del proyecto de la inmobiliaria digital" 
        />
        <p class="text-body text-color-body">
          {t('realestate-p1')}
        </p>
    </section>

    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2">
        <h2 class="text-title2 text-color-title">
          {t('realestate-title2')}
        </h2>
        <h3 class="text-overlineSm text-color-caption uppercase">
          {t('realestate-subtitle2')}
        </h3>
      </div>

      <img 
        loading="lazy" 
        src="https://res.cloudinary.com/dfh5otihs/image/upload/v1695914348/real-estate-02.webp" 
        class="aspect-[5/4] rounded-lg object-cover md:aspect-video"
        alt="Post its que muestran el resultado de un workshop de constumer journey, categorización, votación y priorización de funcionalidades" 
      />
      <p class="text-body text-color-body">
        {t('realestate-p2')}
      </p>
      <div
      class="flex flex-col gap-4"
    >
      <img 
        loading="lazy" 
        src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719615/real-state-03.webp" 
        class="aspect-[5/4] rounded-lg object-cover md:aspect-video"
        alt="Gráfico de torta que muestra la distribución de una de las preguntas del proceso de investigación" 
      />
    </div>
    <p class="text-body text-color-body">
      {t('realestate-p2b')}
    </p>
    </section>
  </main>

  <!-- Sección completa para Quote -->
  <Quote
  quote= {t('quote-3')}, 
  author={t('quote-3-author')},
  >
  </Quote>
  <!-- termina Quote -->

  <main class="flex flex-col justify-center  max-w-4xl mx-auto pb-16 px-4 md:px-16">
    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2"> 
        <h2 class="text-title2 text-color-title">
          {t('realestate-title3')}
        </h2>
        <h3 class="text-overlineSm text-color-caption uppercase">
          {t('realestate-subtitle3')}
        </h3>
      </div>
        <img 
          loading="lazy" 
          src="https://res.cloudinary.com/dfh5otihs/image/upload/v1694719615/real-estate-05.webp" 
          class="aspect-[5/4] rounded-lg object-cover md:aspect-video"
          alt="Diseños de calidad medía del proyecto de inmobiliaria digital" 
        />
        <p class="text-body text-color-body">
          {t('realestate-p3')}
        </p>
    </section>

    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2">
        <h2 class="text-title2 text-color-title">
          {t('realestate-title4')}
        </h2>
        <h3 class="text-overlineSm text-color-caption uppercase">
          {t('realestate-subtitle4')}
        </h3>
      </div>

      <img 
        loading="lazy" 
        src="https://res.cloudinary.com/dfh5otihs/image/upload/v1695914319/real-estate-06.webp" 
        class="aspect-[5/4] rounded-lg object-cover md:aspect-video" 
        alt="Pantallas en alta fidelidad del proyecto de inmobiliaria digital" 
      />
      <p class="text-body text-color-body">
        {t('realestate-p4')}
      </p>
    </section>

    <section class="flex flex-col pt-12 gap-6">
      <div class="flex flex-col gap-2">
        <h2 class="text-title2 text-color-title">
          {t('realestate-title5')}
        </h2>
        <h3 class="text-overlineSm text-color-caption uppercase">
          {t('realestate-subtitle5')}
        </h3>
      </div>

      <img 
        loading="lazy" 
        src="https://res.cloudinary.com/dfh5otihs/image/upload/v1695914324/real-estate-07.webp" 
        class="aspect-[5/4] rounded-lg object-cover md:aspect-video"
        alt="Sistema de diseño y documentación final del proyecto de inmobiliaria digital" 
      />
      <p class="text-body text-color-body">
        {t('realestate-p5')}
      </p>
    </section>
  </main>

    <!-- Full width image -->
    <div>
      <img 
        loading="lazy" 
        src="https://res.cloudinary.com/dfh5otihs/image/upload/v1695914350/real-estate-results.webp" 
        class="aspect-[10/6] object-cover md:aspect-auto"
        alt="Pantallas finales del proyecto de inmobiliaria digital" 
      />
    </div>
    <!-- Ends full width image -->

  <section class="flex justify-center flex-col max-w-4xl mx-auto py-16 px-4 md:px-16 gap-6">
      
    <div> 
      <h2 class="text-title2 text-color-title">
        {t('realestate-title6')}
      </h2>
    </div>
    <p class="text-body text-color-body">
      {t('realestate-p6')}
    </p>
  </section>

  <!-- Full Banner CTA  -->
  <CtaBanner
  content={t('global-cta')}
  >
  </CtaBanner>
  <!-- ends Banner -->

  <Footer />
</Layout>