---
import "../index.css";
interface Props {
  title: string;
}
const { title } = Astro.props;

import { getLangFromUrl } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang} data-theme="dark">
  <head>
    <!--HTML Meta Tags -->
    <title>{title}</title>
    <meta name="description" content="Sr UX Designer con m치s de 10 a침os de experiencia desarrollando productos que generen un impacto positivo en las personas." />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#100D18">
    
    <!--Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@fabimoreno27" />
    <meta name="twitter:title" content="Fabi치n Moreno | Product Designer">
    <meta name="twitter:description" content="Senior UX Product Designer with over 8 years of experience designing digital tools to create a positive impact on individuals, businesses, and teams.">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/dfh5otihs/image/upload/v1695885548/OP-home.webp">
   
    <!--Facebook and more Meta Tags -->
    <meta property="og:title" content="website" />
    <meta property="og:url" content="https://www.fabimoreno.com/" />
    <meta property="og:title" content="Fabi치n Moreno | Product Designer" />
    <meta property="og:description" content="Sr UX Product Designer with over 8 years of experience designing digital tools to create a positive impact on individuals, businesses, and teams." />
    <meta property="og:image" content="https://res.cloudinary.com/dfh5otihs/image/upload/v1695885548/OP-home.webp" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="360" />
    <meta name="generator" content={Astro.generator} />

    
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="https://res.cloudinary.com/dfh5otihs/image/upload/v1695882986/icon-192x192.png">
    <link rel="mask-icon" href="https://res.cloudinary.com/dfh5otihs/image/upload/v1695883966/safari-pinned-tab.svg" color="#100D18">
    <link  rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <script type="text/javascript">
      !function(){"use strict";!function(e,t){var n=e.amplitude||{_q:[],_iq:{}};if(n.invoked)e.console&&console.error&&console.error("Amplitude snippet has been loaded.");else{var r=function(e,t){e.prototype[t]=function(){return this._q.push({name:t,args:Array.prototype.slice.call(arguments,0)}),this}},s=function(e,t,n){return function(r){e._q.push({name:t,args:Array.prototype.slice.call(n,0),resolve:r})}},o=function(e,t,n){e[t]=function(){if(n)return{promise:new Promise(s(e,t,Array.prototype.slice.call(arguments)))}}},i=function(e){for(var t=0;t<m.length;t++)o(e,m[t],!1);for(var n=0;n<g.length;n++)o(e,g[n],!0)};n.invoked=!0;var u=t.createElement("script");u.type="text/javascript",u.integrity="sha384-x0ik2D45ZDEEEpYpEuDpmj05fY91P7EOZkgdKmq4dKL/ZAVcufJ+nULFtGn0HIZE",u.crossOrigin="anonymous",u.async=!0,u.src="https://cdn.amplitude.com/libs/analytics-browser-2.0.0-min.js.gz",u.onload=function(){e.amplitude.runQueuedFunctions||console.log("[Amplitude] Error: could not load SDK")};var a=t.getElementsByTagName("script")[0];a.parentNode.insertBefore(u,a);for(var c=function(){return this._q=[],this},p=["add","append","clearAll","prepend","set","setOnce","unset","preInsert","postInsert","remove","getUserProperties"],l=0;l<p.length;l++)r(c,p[l]);n.Identify=c;for(var d=function(){return this._q=[],this},f=["getEventProperties","setProductId","setQuantity","setPrice","setRevenue","setRevenueType","setEventProperties"],v=0;v<f.length;v++)r(d,f[v]);n.Revenue=d;var m=["getDeviceId","setDeviceId","getSessionId","setSessionId","getUserId","setUserId","setOptOut","setTransport","reset","extendSession"],g=["init","add","remove","track","logEvent","identify","groupIdentify","setGroup","revenue","flush"];i(n),n.createInstance=function(e){return n._iq[e]={_q:[]},i(n._iq[e]),n._iq[e]},e.amplitude=n}}(window,document)}();
      
      amplitude.init('6794985fee85508f0c96b30b61848858');
      </script>
  </head>
  <body class="selection:bg-violet-10 selection:text-violet-90 bg-surface-primary font-outfit antialiased">
    <slot />
  </body>

</html>

<style is:global>

      input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
      border: 1px solid #E6E4EC;
      -webkit-text-fill-color: #29233B;
      -webkit-box-shadow: 0 0 0px 1000px #E6E4EC inset;
      transition: background-color 5000s ease-in-out 0s;
      }

</style>
