---
import "../index.css";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="Fabián Moreno - Product Designer" content="Sr UX Designer con más de 10 años de experiencia desarrollando productos que generen un impacto positivo en las personas." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="selection:bg-violet-10 selection:text-violet-90 bg-surface-primary font-outfit antialiased">
    <slot />
  </body>
</html>

<style is:global>

      input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
      border: 1px solid #E6E4EC;
      -webkit-text-fill-color: #29233B;
      -webkit-box-shadow: 0 0 0px 1000px #E6E4EC inset;
      transition: background-color 5000s ease-in-out 0s;
      }

</style>
