---
import "../index.css";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="Fabián Moreno - Product Designer" content="Sr UX Designer con más de 10 años de experiencia desarrollando productos que generen un impacto positivo en las personas." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="selection:bg-violet-300 selection:text-violet-900  bg-bg-primary">
    <slot />
  </body>
</html>

<style is:global>


</style>
